body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.header-container {
  padding: 2rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 50px;

  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 2rem;
  color: #000;
}

.nav-link.active {
  color: blueviolet;
}

.nav-link:hover,
.nav-link:focus {
  color: blueviolet;
}

/* HOME STYLES */

.section-home {
  height: 100vh;
  padding: 5rem;
  
  text-align: center;
  background-color: rgb(255, 255, 73);
}

.home-container {
  margin-left: auto;
  margin-right: auto;

  padding: 2rem;
  width: 720px;

  color: rgb(0, 0, 102);
  background: rgb(254, 226, 62);
  border-radius: 5px;
}

.home-title {
  font-size: 1.75rem;
}

.home-text {
  font-size: 1.5rem;
  color: rgb(0, 0, 102);
}

.home-list {
  display: flex;
  align-items: center;
  justify-content: space-around;

  list-style: none;
}

.home-link {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(0, 0, 102);
}

.home-link:hover,
.home-link:focus {
  text-decoration: underline;
}

/* TODO STYLES */

.section-form {
  height: 100vh;
  padding: 5rem;

  text-align: center;
  background-color: rgb(89, 219, 241);
}

.form-container {
  margin-left: auto;
  margin-right: auto;

  padding: 2rem;
  width: 420px;
  background: rgb(0, 151, 172);
  border-radius: 5px;
}

.todo-form {
  margin-bottom: 1rem;
}

.todo-form-label {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid rgb(6, 194, 244);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: rgb(6, 194, 244);
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.todo-notask {
  color: white;
  font-size: 1.5rem;
}

.todo-list {
  max-width: 334px;

  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  
  color: #fff;
  
  list-style: none;
  text-transform: capitalize;
}

.todo-item {
  padding: 0.75rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;

  background: rgb(6, 194, 244);
}

.todo-item-title {
  cursor: pointer;
}

.todo-item:not(:last-child) {
    margin-bottom: 1rem;
}

.incompleted {
  color: #fff;
}

.completed {
  color:#fff;
  text-decoration: line-through;
  text-decoration-color: rgb(177, 239, 254);
}

.btn-wrapper {
  display: flex;
  gap: 5px;
}

.todo-btn-interface {
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
}

.todo-edit-form {
  display: flex;
  align-items: baseline;

}

.todo-edit-input {
  outline: none;
  background: none;
  border: 1px solid rgb(6, 194, 244);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-edit-input::placeholder {
  color: #ffffff4d;
}

.todo-edit-btn {
  background: rgb(6, 194, 244);
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

/* WISHLIST STYLES */
.section-wishlist {
  height: 100vh;
  padding: 5rem;

  text-align: center;
  background-color: rgb(15, 245, 145);
}

.wishlist-container {
  margin-left: auto;
  margin-right: auto;

  padding: 2rem;
  width: 420px;
  background: rgb(28, 189, 57);
  border-radius: 5px;

}

.wishlist-form {
  margin-bottom: 1rem;
}

.wishlist-form-label {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.wishlist-input {
  outline: none;
  background: none;
  border: 1px solid rgb(19, 220, 3);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.wishlist-input::placeholder {
  color: #ffffff4d;
}

.wishlist-btn {
  background: rgb(19, 220, 3);
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.wishlist-nowish {
  color: white;
  font-size: 1.5rem;
}

.wishlist-list {
  max-width: 334px;

  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  
  color: #fff;
  
  list-style: none;
  text-transform: capitalize;
}

.wishlist-item {
  padding: 0.75rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;

  background-color: rgb(19, 220, 3);
}

.wishlist-item-title {
  cursor: pointer;
}

.wishlist-item:not(:last-child) {
    margin-bottom: 1rem;
}

.incompleted {
  color: #fff;
}

.completed {
  color:#fff;
  text-decoration: line-through;
  text-decoration-color: rgb(177, 239, 254);
}

.wishlist-btn-interface {
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
}

.wishlist-edit-form {
  display: flex;
  align-items: baseline;

}

.wishlist-edit-input {
  outline: none;
  background: none;
  border: 1px solid rgb(19, 220, 3);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.wishlist-edit-input::placeholder {
  color: #ffffff4d;
}

.wishlist-edit-btn {
  background: rgb(19, 220, 3);
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}